{% extends "layout.html" %}
{% block content %}
<div class="vertical-wrapper vertical-wrapper_about">
		<section class="about">
			<h2>{{ title }} me</h2>
			<p>I am a Software and Web Developer who loves coding. I am currently learning Web Development at Langara College. Before coming to here, I worked as a software developer to improve a system for banks.</p>
			<p>I am passionate about learning the new technology and combine them with the old ones.</p>
			<h3>What I can do.</h3>
			<p>Python, Javascript, HTML, CSS, Node.js, COBOL, R</p>
			<h3>What I love.</h3>
			<p>Dog sports, Cooking, Sencha-do(煎茶道, Japanese sencha ceremony), workout</p>
		</section>
		<section class="social-menu">
			<ul>
				<li>
					<a href="https://github.com/mhiratsuka" target="_blank"><span class="hidden">Github</span>
					</a>
				</li>
				<li>		
					<a href="https://www.linkedin.com/in/mhiratsuka" target="_blank"><span class="hidden">LinkedIn</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/koume_chihuahua/" target="_blank"><span class="hidden">Instagram</span>
					</a>
				</li>
			</ul>
		</section>
	</div>
{% endblock content %}
