{% extends "layout.html" %}
{% block content %}
<div class="about">
	<div class="vertical-wrapper">
			<div class="about-content">
				<h2>{{ title }} me</h2>
				<p>I am a Software and Web Developer who loves coding. I am passionate about learning the new technology and combine them with the old ones.</p>
				<h3>What I can do.</h3>
				<p>Python, Javascript, HTML, CSS, Node.js, COBOL, R</p>
				<h3>What I love.</h3>
				<p>Dog sports, Cooking, Sencha-do(煎茶道, Japanese sencha ceremony), Reading</p>
			</div>
			<div class="about-social-menu">
				<ul>
					<li>
						<a href="https://github.com/mhiratsuka" target="_blank"><span class="hidden">Github</span>
						</a>
					</li>
					<li>		
						<a href="https://www.linkedin.com/in/mhiratsuka" target="_blank"><span class="hidden">LinkedIn</span>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/koume_chihuahua/" target="_blank"><span class="hidden">Instagram</span>
						</a>
					</li>
				</ul>
			</div>
	</div>
</div>
{% endblock content %}
