<header>
    <nav class="navbar">
        <h1 class="logo cf">
            <a href="/">
                <img src="{{url_for('static', filename='images/plumlogo.png')}}" alt="logo">
            </a>
        </h1>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          
        <ul class="nav cf">
            <li class="work" ontouchstart=""><a href="{{url_for('work')}}">Work</a></li>
            <li class="about" ontouchstart=""><a href="{{url_for('about')}}">About</a></li>
            <li class="contact" ontouchstart=""><a href="{{url_for('contact')}}">Contact</a></li>
            {%if current_user.is_authenticated %}
                <li class="login" ontouchstart=""><a href="{{url_for('new_post')}}">New Post</a></li>
                <li class="login" ontouchstart=""><a href="{{url_for('account')}}">Account</a></li>
                <li class="login" ontouchstart=""><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
                <li class="register" ontouchstart=""><a href="{{url_for('register')}}">Register</a></li>
                <li class="login" ontouchstart=""><a href="{{url_for('login')}}">Login</a></li>
            {% endif%}
        </ul>
    </nav>
</header>