{% extends "layout.html" %}
{% block content %}
<body>
    <section class="main_name">
        <h2>Michika Hiratsuka</h2>
        <p>I'm a Vancouver based Web/Software Developer</p>
    </section>
    <div id="plumbox"></div>
	<script src="{{url_for('static', filename='lib/p5.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='lib/p5.dom.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/plumtree.js')}}" type="text/javascript"></script>
</body>
{% endblock content %}
