{% extends "layout.html" %}
{% block content %}
<!-- <article class="media content-section"> -->
    <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_imgs/' + post.author.image_file) }}"> -->
    <div class="vertical-wrapper post">
        <!-- <div class="article-metadata"> -->
            <!-- <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small> -->
            {% if post.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('posts.update_post', post_id=post.id)}}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
        <!-- </div> -->
        <h2>{{ post.worktitle }}</h2>
        <div class="post_content_wrapper">
            <div  class="post_content">
                <p>{{ post.content }}</p>
                {% if post.site_link %}
                    <div class="post_link">
                        <a href="{{ post.site_link }}" target="_blank">
                            {% if post.site_description %}
                                <p><span>{{ post.site_description }}</span></p>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="post_detail">
                <h3>Date</h3>
                <p>{{ post.date_developed }}</p>
                <h3>Cagegory</h3>
                <p>{{ post.category }}</p>
            </div>
        </div>
        {% if post.postpicture %}
            <div class="post_img">
                <img src="{{ url_for('static', filename='images/post_imgs/' + post.postpicture) }}" alt="{{ post.postpicture_name }}">
            </div>
        {% endif %}
        {% if post.postvideo %}
            <div class="post_video">
                <video controls src="{{ url_for('static', filename='videos/post_mp4/' + post.postvideo) }}" alt="{{ post.postvideo_name }}" type="video/mp4"></video>
            </div>
        {% endif %}
    </div>
<!-- </article> -->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock content %}