.vertical-wrapper.create_post {
    margin-top: 10%;
    margin-bottom: 30px;
    background-color: #003355;
    position: initial;
    transform: translate(0);
}

.create_post {
    h2 {
        text-align: center;
    }
}

.create_post {
    label {
        display: flex;
        font-size: 18px;
    }
}


.create_post {
    .form-group {
        text-align: right;
    }
}

.create_post {
    .btn {
        padding: 5px 50px;

        @media (max-width: 768px) { 
            width: 100%;
        }
    }
}
