.vertical-wrapper.create_post {
    margin-top: 10%;
    margin-bottom: 30px;
    background-color: #003355;
    position: static;
    transform: translate(0);
}

.create_post {
    h2 {
        text-align: center;
        font-size: 32px;
        font-family: "Bitter", "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
        font-weight: 700;
    }
}

.create_post {
    label {
        display: flex;
        font-size: 18px;
    }
}


.create_post {
    .form-group {
        text-align: right;
    }
}

.create_post {
    .btn {
        padding: 5px 50px;

        @media (max-width: 768px) { 
            width: 100%;
        }
    }
}
