<header>
    <nav class="navbar">
        <h1 class="logo cf">
            <a href="/">
                <img src="img/plumlogo.png" alt="logo">
            </a>
        </h1>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          
        <ul class="nav cf">
            <li class="work" ontouchstart=""><a href="/work">Work</a></li>
            <li class="about" ontouchstart=""><a href="/about">About</a></li>
            <li class="contact" ontouchstart=""><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>