<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
    {% if title %}
        <title>Michika Hiratsuka - {{ title }}</title>
    {% else %}
        <title>Michika Hiratsuka</title>
    {% endif %}
</head>
<body>
	{% include 'header.html' %}
    <main>
        {% block content%} {% endblock %}
    </main>
	{% include 'footer.html' %}
</body>
</html>