
/*index puzzle page*/
body.puzzle header{
	position: relative;
}

h1#title, .action p{
	font-family: 'Bungee', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif ;
}


/*end index puzzle page*/

@media screen and (max-width: 480px){

	/*detailwork page*/
	main .dwork {
	    margin: 0 2%;
	}

	main .dwork h2{
	    font-size: 1.5em;
	}

	main .dwork h3{
	    font-size: 1.2em;
	}

	main .dwork p{
	    font-size: 0.9em;
	}

	.dwork .doverall, .dwork .ddetail{
    	margin: 0 2%;
    	float: initial;
    	width: 96%;
	}


	/*end detailwork page*/

	/* cheerupcharm work */
	.presentation-container {
		position: relative;
		height: 0;
		overflow: hidden;
		padding-top: 56.25%;
	}
	
	.presentation-container iframe{
	/* iframe.presentation-iframe{ */
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		width: 100%;
		height: 100%;
		margin-bottom: 5%;
	}


	/* end cheerupcharm work */

	main .dwork {
    	max-width: 100%;
	}

	main .dwork .dimg img:last-child {
   		 margin-bottom: 15%;
	}

	/*thanks page*/
	main .thank h2 {
		font-size: 3em;
	}

	main .thank p {
		font-size: 1em;
	}

	main .thank {
		margin-top: 0; 
	}
	/*end thanks page*/
}

/* iPad tablet resolution*/
@media screen and (max-width: 800px) and (min-width:481px){
	/*work page*/
	main .work section .div:last-child{
		margin-bottom: 10%;
	}

	/*end work page*/
	
	/*detailwork page*/
	main .dwork {
    	max-width: 100%;
	}

	main .dwork .dimg img:last-child {
   		 margin-bottom: 15%;
	}
	/*end detailwork page*/
}

.presentation-container {
		position: relative;
		height: 0;
		overflow: hidden;
		padding-top: 56.25%;
	}

iframe.presentation-iframe{
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
}


