h1 {
  color: red;
}

h2 {
  color: black;
}

h3 {
  color: pink;
}

h1 {
  color: red;
}

h2 {
  color: black;
}

h3 {
  color: pink;
}

div .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
